html,
body {
	font-family: 'Oswald', Arial, sans-serif;
	background: #00ceff;
	margin: 0;
	padding: 0;
}
h1 {
	text-transform: uppercase;
	background-color: white;
	padding: 1em 1.5em;
	color: #333;
	display: inline-block;
	margin: 0;	
	margin-left: -208px;
	text-align: center;
	position: absolute;
	top: -65px;
	left: 50%;
}
h1 span {
	font-weight: 500;
	font-size: 12px;
	display: block;
	color: #999;
}
h1 span a {
	color: #999;
}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
	-webkit-transition: .25s all;
	-moz-transition: .25s all;
	transition: .25s all;

}
a:hover {
	text-decoration: none;
	background-color: white;
	color: #00ceff;
}
ul {
	padding: 0;
	margin: 0
}
ul li {
  list-style-type: none;
}
ul li a {
  font-size: 32px;
  font-weight: 300;
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer {
  margin-top: 1.5em;
  background: red;
}

.logo {
  background-color: #ff003e;
  text-align: center;
  text-transform: uppercase;
  z-index: 1
}
.logo img {
	max-width: 280px;
	display: block;
	margin: 0 auto;
	padding: 2em 0 6em;
}
.names {
	text-align: center;
	background-color: #00ceff;
	position: relative;
	padding-top: 4.5em
}
body {
	font: 100%/1.4 "Courier", Courier, monospace;
	background: #086A87;
	margin: 0;
	padding: 0;
	color: #000;
}
.center {
	width: 30%;
	max-width: 1260px;
	min-width: 780px;
	background: #D8D8D8;
	margin: 0 auto;
	overflow: hidden; 
}

@media (max-width: 767px) {
	h1 { font-size: 28px; margin-left: -168px; padding: .5em 1em; top: -35px;}
}
