body {
	background: #3A4042;
}

.reamde {
  text-align: center;
}
.center {
  margin: 0 auto;
  float: none;
}

footer {
  margin-top: 2em;
  background: #727C80;
}
.profile {
	float: right;
}

.profile-photo {
	width: 50%;
}