body {
	margin-top: 125px;
	text-align: center;
	background: url("http://dash.ga.co/assets/anna-bg.png");
	background-size: cover;
	background-position: center;
	color: white;
	font-family: helvetica;
}

img{
	width: 200px;
	height: 200px;
	border-radius: 200px;
}

p {
	font-size: 22px;
}

input {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	background: red;
	color: white;
}